/.bundle
/cookbooks/
/.vagrant
Gemfile.lock
/www/*
!/www/log/.gitkeep
!/www/theme/
!/www/theme/icons/
!/www/.htaccess
!/www/index.php
.ruby-gemset
.ruby-version
/nodes/*
!/nodes/.gitkeep
!/nodes/10.10.10.10.json
